body{
    background-color: #8fb9f4;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Courier New", monospace;
}

.project{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    font-family: "Gill Sans", "Courier New", monospace;
}

.heading{
    display: flex;
    flex-direction: row;
    /* border: 2px dotted; */
    justify-content: space-between;
    margin-bottom: 50px;
}

.heading a{
    text-decoration: none;
    font-size: 20px
}

.title{
    font-size: 30px;
}

.intro{
    font-size: 25px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.first-findings{
    display: flex;
    margin-top: 40px;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: 50px;
}

.first-findings img{
    width: 500px;
    height: 300px;;
}

.first-findings p{
 width:700px;
}

.second-findings img{
    width:600px;
    height: 400px;
}

.second-findings{
    display: flex;
    margin-top: 20px;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}

.text{
    display: flex;
    flex-direction: column;
}

.text{
    width: 680px;
}

.third-findings{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: 50px;
}

.info{
    display: flex;
    flex-direction: column;
}

h5{
    text-align: center;
}

.info{
    display: flex;
}


